[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[packages]
requests = "*"
daiquiri = "*"
diskcache = "*"
marshmallow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
